<script setup lang="ts">
import { ref } from 'vue'

import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'
import CustomerDialog from '../Customer/CustomerDialog.vue';

const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
function onClick() {
    memberStore.searchMember(tel.value)
    receiptStore.calReceipt()
}

function newcustomer(){
    memberStore.newCustomer()
}
</script>
<template>
    <v-container style="background-color: whitesmoke">
        <v-row no-gutters>
            <v-col cols="5"><v-text-field v-model="tel" density="compact" variant="solo" label="Search"
                    append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
                    @keyup.enter="onClick"></v-text-field></v-col>
            <v-col cols="1"></v-col>
            <!-- <v-col id="callMem" cols="5" class="pa-2 text-left">Member Name :{{
                memberStore.currentMember ? memberStore.currentMember?.Firstname+" "+memberStore.currentMember?.Lastname: 'Not found'
            }}</v-col> -->
            <v-col cols="6" density="compact">
                <v-row>
                    <!-- <v-col cols="1"></v-col> -->
                    <v-col cols="6"><v-btn block rounded="l" class="color-btn" size="default" @click="newcustomer()">Register</v-btn> </v-col>
                    <v-col cols="6"><v-btn block rounded="l" class="color-btn" size="default">Promotion</v-btn></v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-row no-gutters style="padding-top: 6px;">
            <!-- <v-col cols="6" density="compact">
                <v-row>
                    <v-col cols="6"><v-btn block rounded="l" class="color-btn" size="default" @click="newcustomer()">Register</v-btn> </v-col>
                    <v-col cols="6"><v-btn block rounded="l" class="color-btn" size="default">Promotion</v-btn></v-col>
                </v-row>
            </v-col> -->
            <v-col id="callMem" cols="6" class="pa-2 text-left">Member Name :{{
                memberStore.currentMember ? memberStore.currentMember?.Firstname+" "+memberStore.currentMember?.Lastname: 'Not found'
            }}</v-col>
            <!-- <v-col cols="1"></v-col> -->
            <v-col cols="5" class="pa-2 text-left" no-gutters>Member Point :
                {{ memberStore.currentMember?.Point ? memberStore.currentMember?.Point : 0 }}</v-col>
        </v-row>
    </v-container>
    <customer-dialog></customer-dialog>
</template>

<style>
.color-btn {
    border-radius: 10px;
    background-color:rgba(239, 255, 100, 0.788);
}
</style>
