<script setup lang="ts">
import { type Product } from '@/types/Product'
import ProductList from '@/components/ProductList.vue';
import { useReceiptStore } from '@/stores/receipt'
import MemberCard from './MemberCard.vue';
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptDialog from './ReceiptDialog.vue';
import ReceiptCard from './ReceiptCard.vue'
import { nextTick, onMounted, provide, ref } from 'vue';
import { products1, products2, products3 } from '@/stores/productlist'
import { useMemberStore } from '@/stores/member';
// const products1:Product[] =[
// {   id:1,
//     name:'ลาเต้',
//     price: 35.00,
//     type: 1,
//     subCategory: 0
// },
// {   id:2,
//     name:'กาแฟ',
//     price: 35.00,
//     type: 1,
//     subCategory: 0
// },
// {   id:3,
//     name:'โกโก้',
//     price: 35.00,
//     type: 1,
//     subCategory: 0
// },
// {   id:4,
//     name:'เอสเปรสโซ่',
//     price: 35.00,
//     type: 1,
//     subCategory: 0
// },
// {   id:5,
//     name:'นมชมพู',
//     price: 35.00,
//     type: 1,
//     subCategory: 0
// },
// {   id:6,
//     name:'นมสด',
//     price: 35.00,
//     type: 1,
//     subCategory: 0
// },
// {   id:7,
//     name:'นมกล้วย',
//     price: 35.00,
//     type: 1,
//     subCategory: 0
// },
// {   id:8,
//     name:'นมมินต์',
//     price: 35.00,
//     type: 1,
//     subCategory: 0
// },
// {   id:9,
//     name:'คาปูชินโน่',
//     price: 35.00,
//     type: 1,
//     subCategory: 0
// }
// ]
// const products2:Product[] =[
// {   id:1,
//     name:'ชามะลิ',
//     price: 35.00,
//     type: 2,
//     subCategory: 0
// },
// {   id:2,
//     name:'ชาเขียว',
//     price: 35.00,
//     type: 2,
//     subCategory: 0
// },
// {   id:3,
//     name:'ชาไทย',
//     price: 35.00,
//     type: 2,
//     subCategory: 0
// },
// {   id:4,
//     name:'ชาดำ',
//     price: 35.00,
//     type: 2,
//     subCategory: 0
// }
// ]
// const products3:Product[] =[
// {   id:1,
//     name:'ฮันนี่โทส',
//     price: 35.00,
//     type: 3,
//     subCategory: 0
// },
// {   id:2,
//     name:'วาฟเฟิ้ล',
//     price: 35.00,
//     type: 3,
//     subCategory: 0
// },
// {   id:3,
//     name:'บราวนี่',
//     price: 35.00,
//     type: 3,
//     subCategory: 0
// }
// ]

const tab = ref(1)
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
const dialog = ref(false)
const divReceiptItems = ref<HTMLElement | null>(null)

provide('receiptDialog', dialog)

const selected = (p: Product) => {
    console.log('ProductView' + p.name + p.subCategory + p.price)
    receiptStore.addReceiptItem(p)
    if (divReceiptItems.value) {
        divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    }
    nextTick(() => {
        if (divReceiptItems.value) {
            divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
        }
    })
}

const showReceipt = function () {
    receiptStore.calReceipt()
    if(receiptStore.receipt.change < 0){
        alert('กรุณาใส่จำนวนเงินให้ถูกต้อง')
    }else if(receiptStore.receipt.change >= 0 ){
    receiptStore.showReceiptDialog()
    }
}
const clearReceipt = function () {
    const tel = ref('')
    memberStore.searchMember(tel.value)
    receiptStore.clear()
}

onMounted(() => {
    clearReceipt()
    nextTick(() => {
        if (divReceiptItems.value) {
            divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
        }
        tab.value = 1
    })
})

</script>

<template>  
  <v-container style="max-width: 1500px">
        <v-row  class="rounded-sheet">
            <v-col cols="12" md="6">
                <v-sheet min-width="500" max-width="700" height="682" elevation="6" >
                    <v-tabs
                    v-model="tab"
                    bg-color="#86ab60"
                    >
                    <v-tab :value="1">Coffee</v-tab>
                    <v-tab :value="2">Tea</v-tab>
                    <v-tab :value="3">Dessert</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                    <v-window-item :value="1">
                        <ProductList 
                        :products="products1"
                        @selectedProduct="selected"
                        >
                        </ProductList>
                    </v-window-item>

                    <v-window-item :value="2">
                        <ProductList 
                        :products="products2"
                        @selectedProduct="selected"
                        >
                        </ProductList>
                    </v-window-item>

                    <v-window-item :value="3">
                        <ProductList 
                        :products="products3"
                        @selectedProduct="selected"
                        >
                        </ProductList>
                    </v-window-item>
                    </v-window>
                </v-sheet>
            </v-col>
            <v-col cols="12" md="6">
                <v-container style="padding: 0%">
                    <v-row>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="700" elevation="6" height="200" >
                                <div ref="divReceiptItems"
                                    style="height: 200px; overflow: auto; background: transparent; padding: 0; margin: 0;">
                                    <v-sheet tile>
                                        <ReceiptDetailTable></ReceiptDetailTable>
                                    </v-sheet>
                                </div>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="700" height="220" elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="700" height="115" elevation="6">
                                <MemberCard></MemberCard>
                            </v-sheet>
                        </v-col>
                        <v-col>
                            <v-sheet cols="12" min-width="300" max-width="700" height="75" elevation="6">
                                <v-container no-gutters>
                                    <v-row>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" color="red" size="large" @click="clearReceipt()">Clear</v-btn> </v-col><v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" color="green" size="large"  @click="showReceipt()">Payment</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
        </v-row>
        <ReceiptDialog></ReceiptDialog>
    </v-container>

</template>
<style scoped>
.rounded-sheet {
  border-radius: 20px; /* ตั้งค่าความโค้งของกรอบ */
  background-color: #795548;/* สีพื้นหลังตาราง */
  border: 3px solid #3e2723;/* ขอบตาราง*/
}
</style>

