<script setup lang="ts">
import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt'
import { useAuthStore } from '@/stores/auth'
import { computed, inject, ref, type Ref,onMounted } from 'vue'
const currentDate = ref('');
const currentTime = ref('');
const authStore = useAuthStore()
const receiptStore = useReceiptStore()
const memberStore = useMemberStore()

const newPoint = computed(() => {
  const receiptPoint = receiptStore.point;
  const memberPoint = Number(memberStore.currentMember?.Point) || 0;
  return receiptPoint + memberPoint;
});

const clearReceipt = function () {
    const tel = ref('')
    memberStore.searchMember(tel.value)
    receiptStore.clear()
}

const calculateReceiveMoney = () => {
  if (receiptStore.receipt.paymentType === 'Cash') {
    return receiptStore.receiveMoney;
  } else {
    return receiptStore.receipt.total;
  }
};

const calculateChange = () => {
  if (receiptStore.receipt.paymentType === 'Cash') {
    return receiptStore.receiveMoney - receiptStore.receipt?.totalBefore || 0;
  } else {
    return 0;
  }
};

function showDateTime() {
  const now = new Date();
  currentDate.value = now.toLocaleDateString();
  currentTime.value = now.toLocaleTimeString();
}

onMounted(() => {
  showDateTime();
});

</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" preceiptStoreersistent width="500">
    <v-card>
      
      <v-card-title class="text-h5"> Receipt </v-card-title>
      
      <v-card-text>
        <v-row>
          <v-col cols="12" style="text-align: center;"><v-card-title class="text-h6 text-md-h5 text-lg-h4">DSI
              COFFEE</v-card-title></v-col>
              
          <v-col cols="12">Receipt ID : {{ receiptStore.receipt.id + 1 }}</v-col>
          <v-col cols="12">POS ID : 0000000001</v-col>
          <v-col cols="12">User : {{ authStore.userLogin.currentUser.username }}</v-col>
          <v-col cols="6">Time : {{ currentTime }}</v-col>
          <v-col cols="6">Date : {{ currentDate }}</v-col>  
        </v-row>
        <v-container>
          <v-table>
            <thead>
              <tr>
                <th>จำนวน</th>
                <th>รายการสินค้า</th>
                <th>ราคา</th>
                <th>ราคารวม</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of receiptStore.receiptItems" :key="item.id">
                <td>{{ item.unit }}</td>
                <td>{{ item.product?.name }} {{ item.subCategory }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.price * item.unit }}</td>

              </tr>
            </tbody>

          </v-table>
          <v-divider></v-divider>
          <v-row>
            <v-col cols="6" class="text-h6"> ยอดรวม</v-col>
            <v-col cols="4" style="text-align: right;margin-right: px;">
            {{receiptStore.receipt?.total }} 
          </v-col>
            <v-col cols="2"></v-col>
            <v-col cols="6"> ยอดก่อนหัก</v-col>
            <v-col cols="4" style="text-align: right;margin-right: px;"> {{
              receiptStore.receipt?.totalBefore }}
            </v-col>
            <v-col cols="2"></v-col>
            <v-col cols="6"> ส่วนลดสมาชิก</v-col>
            <v-col cols="4" style="text-align: right;margin-right: px;">{{
              receiptStore.receipt?.memberDiscount }} 
            </v-col>
            <v-col cols="2"></v-col>
            <v-col cols="6"> ได้รับแต้ม</v-col>
            <v-col cols="4" style="text-align: right;margin-right: px;">{{
              receiptStore.point }} 
            </v-col>
            <v-col cols="2"></v-col>
            <v-col cols="6"> จำนวนแต้มคงเหลือ</v-col>
            <v-col cols="4" style="text-align: right;margin-right: px;">
              {{ newPoint}}
            </v-col>
            <v-col cols="2"></v-col>
            <v-col cols="6"> ชำระ {{ receiptStore.receipt.paymentType }}</v-col>
            <v-col cols="4" style="text-align: right;margin-right: px;">{{
              calculateReceiveMoney() }} 
            </v-col>
            <v-col cols="2"></v-col>
            <v-col cols="6"> เงินทอน</v-col>
            <v-col cols="4" style="text-align: right;margin-right: px;">{{
              calculateChange() }} 
            </v-col>
            <v-col cols="2"></v-col>

          </v-row>

        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green-darken-1" variant="text" @click="receiptStore.receiptDialog = false">
          ปิด
        </v-btn>
        <v-btn color="green-darken-1" variant="text" @click="() => {
            memberStore.updatePoint(newPoint)
            receiptStore.receiptDialog = false
            clearReceipt()
          }
          ">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
</v-dialog></template>
