<script setup lang="ts">
import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt'
import { computed, watch } from 'vue'
import { onMounted } from 'vue'
import { ref } from 'vue'

const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
const selectPayment = ref<string[]>(['Cash', 'Promptpay'])
const selectedPayment = ref('')

const newPoint = computed(() => {
  const receiptPoint = receiptStore.point;
  const memberPoint = Number(memberStore.currentMember?.Point) || 0;
  return receiptPoint + memberPoint;
});

// const calculateChange = () => {
//   if (selectedPayment.value === 'Cash') {
//     return receiptStore.receiveMoney - receiptStore.receipt?.totalBefore || 0;
//   } else {
//     return receiptStore.receiveMoney=0,receiveMoney.value=0,0;
//   }
// };

// const selectedPrompt = () => {
//   if (selectedPayment.value === 'Promptpay') {
//     return receiveMoney.value=0;
//   } 
// };

onMounted(() => {
    selectedPayment.value = 'Cash'
})
const receiveMoney = ref(0)
watch(receiveMoney, (newValue) => {
    receiptStore.receiveMoney = newValue
})

watch(selectedPayment,(newValue)=>{
    receiptStore.receipt.paymentType = newValue
})
</script>

<template>
    <v-container class="text-body-2">
        <!-- style="background-color: whitesmoke" -->
        <v-row no-gutters style="margin: 0px">
            <v-col cols="2"> TotalBefore </v-col>
            <v-col cols="2">
                {{ receiptStore.receipt?.totalBefore }}
            </v-col>
            <v-col cols="2">Baht</v-col>
            <v-col cols="6">
                <v-select label="Payment Types" id="selectPay" v-model="receiptStore.receipt.paymentType" :items="selectPayment"
                    density="compact" variant="underlined"></v-select>
            </v-col>
        </v-row>
        <v-row no-gutters style="margin-bottom: 20px">
            <v-col cols="2"> Discount </v-col>
            <v-col cols="2">
                {{ receiptStore.receipt?.memberDiscount }}
            </v-col>
            <v-col cols="2">Baht</v-col>
            <v-col cols="2">Get Point</v-col>
            <v-col cols="2">{{ receiptStore.point }} </v-col>
            <v-col cols="2">Point</v-col>
        </v-row>

        <v-row no-gutters>
            <v-col cols="2" style="margin-top: 10px">Receive</v-col>
            <v-col cols="2">
                <v-text-field :readonly="receiptStore.receipt.paymentType !== 'Cash'" v-model="receiptStore.receiveMoney" density="compact" style="margin: 0%; font-size: 6px"
                    step="0.01">
                </v-text-field>
            </v-col>
            <v-col cols="2" style="margin-top: 10px">Baht</v-col>
            <v-col cols="2" style="margin-top: 10px">Total Point</v-col>
            <v-col cols="2" style="margin-top: 10px">{{newPoint}}</v-col>
            <v-col cols="2" style="margin-top: 10px">Point</v-col>
        </v-row>
        <v-row no-gutters>
            <v-col cols="2">Total</v-col>
            <v-col cols="2"> {{ receiptStore.receipt?.total }} </v-col>
            <v-col cols="2">Baht</v-col>
            <v-col cols="2">Change</v-col>
            <v-col cols="2">{{ receiptStore.receipt.change }}</v-col> 
            <!-- <v-col cols="2">{{ calculateChange() }}</v-col> -->
            <v-col cols="2">Baht</v-col>
        </v-row>
    </v-container>
</template>
