<script setup lang="ts">
</script>

<template>  
  <a href="https://www.youtube.com/watch?v=_e9yMqmXWo0">
  <div>
    <img src="@/assets/bee.gif" alt="GIF Image" width="100%" height="50%" />
  </div>
</a>
</template>
