<script setup lang="ts">
import { ref, onMounted,computed } from 'vue';
import type { ClockInOut } from '@/types/ClockinType'
import { useClockInOutStore } from '@/stores/ClockinStore';
import { useAuthStore } from '@/stores/auth'

const currentDateTime = ref('');
const clockinoutstore = useClockInOutStore()
const authStore = useAuthStore()
const Filter = computed(() => clockinoutstore.clockinoutData.filter(item => item.userId === authStore.userLogin.currentUser.id));
const checkpoint = computed(() => Filter.value[Filter.value.length - 1])

const headers = ([
  { title: 'ID', value: 'ID' },
  { title: 'Name', value: 'fullname' },
  { title: 'Clock In', value: 'clockIn' },
  { title: 'Clock Out', value: 'clockOut' },
  { title: 'Total Hours', value: 'totalHours' },
]);
const isClockInDisabled = computed(() => checkpoint.value && checkpoint.value.clockOut === '');

const isClockOutDisabled = computed(() => !checkpoint.value || checkpoint.value.clockOut !== '');


function showDateTime() {
  const now = new Date();
  currentDateTime.value = now.toLocaleString();
}

const clockIn = () => {
  clockinoutstore.clockIn(); 
}


const clockOut = () => {
  const checkpoint = Filter.value[Filter.value.length -1]
  if (checkpoint.ID !== undefined){
    clockinoutstore.clockOut(checkpoint);
  } 
};

onMounted(() => {
  setInterval(showDateTime, 50);
});
</script>
<template>
  <div>
    <v-card-title class="title-style">
      <h2 class="text-h10">Clock in/Out</h2>
      <br /><h3><div>{{ currentDateTime }}</div></h3>
      <div class="btn-group">
        <v-btn :disabled="isClockInDisabled" @click="clockIn" prepend-icon="mdi-clock-in" color="#d4e45c">Clock in</v-btn>
        <v-btn :disabled="isClockOutDisabled" @click="clockOut" prepend-icon="mdi-clock-out" color="red">
          Clock out
          <v-tooltip activator="parent" location="top">Make sure to Clock in first</v-tooltip>
        </v-btn>
      </div>
    </v-card-title>

    <v-card style="background-color: #f9ffd1;">
      <v-data-table :items="Filter" :headers="headers" :items-per-page="10" class="elevation-1">
  <template v-slot:top>
    <v-toolbar flat color="white">
      <v-toolbar-title>Time Entries</v-toolbar-title>
    </v-toolbar>
  </template>
  <template v-slot:item="{ item, index }">
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.fullname }}</td>
                    <td>{{ item.clockIn }}</td>
                    <td>{{ item.clockOut }}</td>
                    <td>{{ item.totalHours }}</td>
                </tr>
            </template>
</v-data-table>
    </v-card>
  </div>
</template>

<style scoped>
.title-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf3a0;
  padding: 15px;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
}

.text-h10 {
  font-size: 30px;
  color: #333;
  margin: 0;
  padding: 0;
}

.btn-group {
  display: flex;
}

.h3 {
  color: #333;
}
</style>
