<script setup lang="ts">
</script>

<template>  
  <a href="https://youtu.be/4dDUWRWqcIo?si=omX5SH18kJ9_3Jro&t=95">
  <div>
    <img src="@/assets/toothless.gif" alt="GIF Image" width="100%" />
  </div>
</a>
</template>
