<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useMaterialStore } from '@/stores/material';
import type { Material } from '@/types/Material';
import { useAuthStore } from '@/stores/auth';

type ImportMaterial = {
    id: number
    employee: string
    vendor: string
    Rdate: string
    Rtotallist: number
    Rtotal: number
    details: {
        no: number,
        material: String,
        exDate: String,
        quantity: number
        unitsprice: number
    }[];
}

const authStore = useAuthStore()
const currentUser = authStore.userLogin.currentUser.fullName

const headers = [
    {
        title: 'Receipt Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Employee',
        key: 'employee',
        value: 'employee'
    },
    {
        title: 'Vendor',
        key: 'vendor',
        value: 'vendor'
    },
    {
        title: 'Receipt Date',
        key: 'Rdate',
        value: 'Rdate'
    },
    {
        title: 'Total List',
        key: 'Rtotallist',
        value: 'Rtotallist'
    },
    {
        title: 'Total(THB)',
        key: 'Rtotal',
        value: 'Rtotal'
    },
    { title: 'Actions', key: 'actions', sortable: false },

]

const detailHeaders = [
    {
        title: 'No.',
        key: 'no',
        value: 'no'
    },
    {
        title: 'Material',
        key: 'material',
        value: 'material'
    },
    {
        title: 'Expiry Date',
        key: 'exDate',
        value: 'exDate'
    },
    {
        title: 'Quantity',
        key: 'quantity',
        value: 'quantity'
    },
    { title: 'Actions', key: 'detailactions', sortable: false },
];

const form = ref(false)
const form2 = ref(false)
const refForm = ref<VForm | null>(null)
const refForm2 = ref<VForm | null>(null)
const dialog = ref(false)
const dialog2 = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const materialStore = useMaterialStore()
const materials = materialStore.materials
const materialsName = getMaterialNames(materials);


const initilImport: ImportMaterial = {
    id: -1,
    employee: '',
    vendor: '',
    Rdate: '',
    Rtotallist: 0,
    Rtotal: 0.0,
    details: [{
        no: -1,
        material: '',
        exDate: '',
        quantity: 0,
        unitsprice: 0
    }]

}
const editedImportMaterial = ref<ImportMaterial>(JSON.parse(JSON.stringify(initilImport)))

const ImportMaterials = ref<ImportMaterial[]>([])
let editedIndex = -1
let lastId = 4
function onSubmit() { }

function formatID(id: number) {
    return 'IR' + id.toString().padStart(4, '0');
}

function closeDelete() {
    dialogDelete.value = false
    nextTick(() => {
        editedImportMaterial.value = Object.assign({}, initilImport)
    })
}
function deleteItemConfirm() {
    // Delete item from list
    ImportMaterials.value.splice(editedIndex, 1)
    closeDelete()
}

function editItem(item: ImportMaterial) {
    editedIndex = ImportMaterials.value.indexOf(item)
    editedImportMaterial.value = Object.assign({}, item)
    dialog.value = true
}
function deleteItem(item: ImportMaterial) {
    editedIndex = ImportMaterials.value.indexOf(item)
    editedImportMaterial.value = Object.assign({}, item)
    dialogDelete.value = true
    editedIndex = -1
}
function closeDialog() {
    dialog.value = false
    nextTick(() => {
        editedImportMaterial.value = Object.assign({}, initilImport)
        editedIndex = -1
    })
}
async function save() {
    const { valid } = await refForm.value!.validate()
    if (!valid) return
    if (editedIndex > -1) {
        Object.assign(ImportMaterials.value[editedIndex], editedImportMaterial.value)
    } else {
        editedImportMaterial.value.id = lastId++
        ImportMaterials.value.push(editedImportMaterial.value)
    }
    closeDialog()
}

function TotalList() {
    ImportMaterials.value.forEach((material) => {
        material.Rtotallist = material.details.length;
    })
}

function TotalPrice() {
    ImportMaterials.value.forEach((material) => {
        material.Rtotal = material.details.reduce((total, detail) => {
            return total + detail.unitsprice * detail.quantity;
        },
            0)
    })
}


function deleteDetail(detail: any) {

    const index = editedImportMaterial.value.details.findIndex((d: any) => d.no === detail.no)
    if (index !== -1) {

        editedImportMaterial.value.details.splice(index, 1)
    }
}

const addDetail = () => {
    dialog2.value = true
}

const saveDetail = async () => {
    const { valid } = await refForm2.value!.validate();
    if (!valid) return;
    editedImportMaterial.value.details.push({
        ...newDetail, no: editedImportMaterial.value.details.length + 1,
    })
    TotalList()
    closeDetailDialog()
}

const closeDetailDialog = () => {
    dialog2.value = false;
    refForm2.value!.reset();
    newDetail = { material: '', exDate: '', quantity: 0, unitsprice: 0 };
}
let newDetail = { material: '', exDate: '', quantity: 0, unitsprice: 0 };

function getMaterialNames(materials: Material[]): string[] {
    return materials.map(material => material.Name);
}

function initialize() {



    ImportMaterials.value = [
        {
            id: 1,
            employee: 'wantania phonsomret',
            vendor: 'KShop',
            Rdate: '2024-01-01',
            Rtotallist: 0,
            Rtotal: 9420.00,
            details: [{ no: 1, material: 'Coffee Beans', exDate: '2024/01/30', quantity: 20, unitsprice: 400 }, { no: 2, material: 'Thaitea Powder', exDate: '2024/01/30', quantity: 15, unitsprice: 230 }]
        },
        {
            id: 2,
            employee: 'wanwadee noijaroen',
            vendor: 'KShop',
            Rdate: '2024-02-01',
            Rtotallist: 0,
            Rtotal: 15550.00,
            details: [{ no: 1, material: 'Coffee Beans', exDate: '2024/01/30', quantity: 20, unitsprice: 400 }]
        },
        {
            id: 3,
            employee: 'sirapop wongtim',
            vendor: 'LoShop',
            Rdate: '2024-03-01',
            Rtotallist: 0,
            Rtotal: 10805.00,
            details: [{ no: 1, material: 'Coffee Beans', exDate: '2024/01/30', quantity: 20, unitsprice: 400 }]
        },
        {
            id: 4,
            employee: 'phongphak kajornchaiyakul',
            vendor: 'LoShop',
            Rdate: '2024-03-20',
            Rtotallist: 0,
            Rtotal: 12500.00,
            details: [{ no: 1, material: 'Coffee Beans', exDate: '2024/01/30', quantity: 20, unitsprice: 400 }]
        },
        {
            id: 5,
            employee: 'phongphak kajornchaiyakul',
            vendor: 'KShop',
            Rdate: '2024-04-05',
            Rtotallist: 0,
            Rtotal: 9875.00,
            details: [{ no: 1, material: 'Coffee Beans', exDate: '2024/01/30', quantity: 20, unitsprice: 400 }]
        }

    ]

    lastId = Math.max(...ImportMaterials.value.map(material => material.id)) + 1;

    TotalList()
    TotalPrice()
}




onMounted(() => {
    initialize()
})
</script>
<template>
    <div>
        <v-data-table :expanded="[]" :headers="headers" :items="ImportMaterials" show-expand>
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Import Material</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <!-- Put Edited Dialog -->
                    <v-dialog v-model="dialog" persistent width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="white" style="background-color: #86ab60" v-bind="props">
                                <span class="mdi mdi-cart-plus"></span>Add Imported Material
                            </v-btn>

                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="text-h5">Material Import</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="currentUser" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Employee"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedImportMaterial.vendor" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Vendor"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedImportMaterial.Rdate" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Receipt Date" placeholder="YYYY-MM-DD"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedImportMaterial.Rtotallist" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Total list" type="number"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedImportMaterial.Rtotal" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Total" type="number" suffix="฿"></v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>

                                </v-form>
                                <v-data-table-virtual :headers="detailHeaders" :items="editedImportMaterial.details"
                                    density="compact">
                                    <template v-slot:top>
                                        <v-toolbar flat>
                                            <v-toolbar-title>Import Material Details</v-toolbar-title>
                                            <v-divider class="mx-4" inset vertical></v-divider>
                                            <v-spacer></v-spacer>

                                            <v-dialog v-model="dialog2" max-width="600px">
                                                <template v-slot:activator="{ props }">
                                                    <v-btn color="white" variant="text"
                                                        style="background-color: rgb(255, 182, 55);" @click="addDetail()"
                                                        v-bind="props">
                                                        Add Details
                                                    </v-btn>
                                                </template>
                                                <v-card>
                                                    <v-card-title class="text-h5">Add Import Material Details</v-card-title>
                                                    <v-card-text>
                                                        <v-form ref="refForm2" v-model="form2" @submit.prevent="saveDetail">
                                                            <v-container>
                                                                <v-row>
                                                                    <v-col cols="12" sm="6">
                                                                        <v-combobox v-model="newDetail.material"
                                                                            label="Material"
                                                                            :rules="[(v: any) => !!v || 'Field is required']"
                                                                            :items="materialsName"></v-combobox>
                                                                    </v-col>
                                                                    <v-col cols="12" sm="6">
                                                                        <v-text-field v-model="newDetail.exDate"
                                                                            :rules="[(v: any) => !!v || 'Field is required']"
                                                                            label="Expiry Date"
                                                                            placeholder="YYYY-MM-DD"></v-text-field>
                                                                    </v-col>
                                                                    <v-col cols="12" sm="6">
                                                                        <v-text-field v-model="newDetail.quantity"
                                                                            :rules="[(v: any) => !!v || 'Field is required']"
                                                                            label="Quantity" type="number"></v-text-field>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-container>
                                                        </v-form>
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn color="orange" variant="text"
                                                            @click="closeDetailDialog">Cancel</v-btn>
                                                        <v-btn color="orange" variant="text"
                                                            @click="saveDetail">Save</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </v-toolbar>
                                    </template>
                                    <template v-slot:expanded-row="{ columns, item }">
                                        <tr>
                                            <td :colspan="columns.length">
                                                <v-data-table :headers="detailHeaders" :items="[item]"
                                                    hide-default-footer></v-data-table>
                                            </td>
                                        </tr>
                                    </template>


                                    <template v-slot:[`item.detailactions`]="{ item }">

                                        <v-icon size="small" @click="deleteDetail(item)">
                                            mdi-delete
                                        </v-icon>
                                    </template>
                                </v-data-table-virtual>
                                <small>*indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDialog()">
                                    Close
                                </v-btn>
                                <v-btn color="orange" variant="text" @click="save()">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- Delete Dialog -->
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDelete">Cancel</v-btn>
                                <v-btn color="orange" variant="text" @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>

            <template v-slot:[`item.actions`]="{ item }">

                <v-icon size="small" class="me-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="deleteItem(item)">
                    mdi-delete
                </v-icon>

            </template>

            <template v-slot:expanded-row="{ columns, item }">
                <tr>
                    <td :colspan="columns.length">
                        <v-data-table-virtual :headers="detailHeaders" :items="item.details" density="compact"
                            hide-default-footer>
                            <template v-slot:no-data>
                                No details available
                            </template>
                        </v-data-table-virtual>
                    </td>
                </tr>
            </template>

            <template v-slot:no-data>

                <v-btn color="primary" @click="initialize">
                    Reset
                </v-btn>
            </template>


        </v-data-table>

    </div>
</template>