<script lang="ts" setup>
import { nextTick, onMounted ,ref} from 'vue';
import type { VForm } from 'vuetify/components';
import type { Material } from '@/types/Material';
import { useMaterialStore } from '@/stores/material';

const headers = [
    {
        title: 'Material Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Name',
        key: 'name',
        value: 'Name'
    },
    {
        title: 'Price',
        key: 'price',
        value: 'Price'
    },
    {
        title: 'Qty',
        key: 'Qty',
        value: 'Qty'
    },
    {
        title: 'Min',
        key: 'Min',
        value: 'Min'
    },
    {
        title: 'Unit',
        key: 'unit',
        value: 'Unit'
    },
    { title: 'Actions', key: 'actions', sortable: false }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const initilMaterial: Material = {
    id: -1,
    Name: '',
    Price: 0.0,
    Qty: 0,
    Min: 0,
    Unit: '',
    
}
const editedMaterial = ref<Material>(JSON.parse(JSON.stringify(initilMaterial)))

const materialStore = useMaterialStore()
const materials = materialStore.materials
//store Material

const Materials = ref<Material[]>([])
let editedIndex = -1
let lastId = 4
function onSubmit() { }

function formatID(id: number) {
    return 'IR' + id.toString().padStart(4, '0');
}

function closeDelete() {
    dialogDelete.value = false
    nextTick(() => {
        editedMaterial.value = Object.assign({}, initilMaterial)
    })
}
function deleteItemConfirm() {
    // Delete item from list
    Materials.value.splice(editedIndex, 1)
    closeDelete()
}

function editItem(item: Material) {
    editedIndex = Materials.value.indexOf(item)
    editedMaterial.value = Object.assign({}, item)
    dialog.value = true
}
function deleteItem(item: Material) {
    editedIndex = Materials.value.indexOf(item)
    editedMaterial.value = Object.assign({}, item)
    dialogDelete.value = true
    editedIndex = -1
}
function closeDialog() {
    dialog.value = false
    nextTick(() => {
        editedMaterial.value = Object.assign({}, initilMaterial)
        editedIndex = -1
    })
}
async function save() {
    const { valid } = await refForm.value!.validate()
    if (!valid) return
    if (editedIndex > -1) {
        Object.assign(Materials.value[editedIndex], editedMaterial.value)
    } else {
        editedMaterial.value.id = lastId++
        Materials.value.push(editedMaterial.value)
    }
    closeDialog()
}

function initialize(){
    Materials.value = materialStore.materials
    
}

onMounted(() => {
    initialize()
})
</script>
<template>
    <div>
        <v-data-table :headers="headers" :items="Materials" >
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Material</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <!-- Put Edited Dialog -->
                    <v-dialog v-model="dialog" persistent width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="white" style="background-color: rgb(255, 182, 55);" v-bind="props">
                                <v-icon left>mdi mdi-plus-box-multiple</v-icon> Add Material
                            </v-btn>
                            
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="text-h5"> Material </span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedMaterial.Name" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Name"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedMaterial.Price" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Price" suffix="฿"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedMaterial.Qty" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Quantity" ></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedMaterial.Min" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Minimum"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="editedMaterial.Unit" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Unit" ></v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>

                                </v-form>
                                <small>*indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="orange" variant="text" @click="closeDialog()">
                                    Close
                                </v-btn>
                                <v-btn color="orange" variant="text" @click="save()">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- Delete Dialog -->
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            
            <template v-slot:[`item.actions`]="{ item }">
                
                <v-icon size="small" class="me-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="deleteItem(item)">
                    mdi-delete
                </v-icon>         
            </template>  
               
            <template v-slot:no-data>       
                <v-btn color="primary" @click="initialize">
                    Reset
                </v-btn>
            </template>          
        </v-data-table>     
    </div>
</template>
