<script setup lang="ts">
import { nextTick, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';

type Role = 'manager' | 'employee'
type Type = 'part-time' | 'fulltime'
type workTime = '9:00-17:00' | '9:00-18:00' | '8:00-17:00'
const dialog = ref(false)
const dialogDelete = ref(false)
let editedIndex = -1
let lastId = 6
const form = ref(false)
const refForm = ref<VForm | null>(null)
type User = {
  id: number
  username: string
  password: string
  fullName: string
  role: Role[] // manager, employee
  type: Type[] // part-time, fulltime
  workTime: workTime
  wage: string
  salary: string | null // null เมื่อ type parttime
}
const initialUser: User = {
  id: -1,
  username: '',
  password: '',
  fullName: '',
  role: ['employee'],
  type: ['part-time'],
  workTime: '9:00-18:00',
  wage: '',
  salary: ''
}
const editedUser = ref<User>(JSON.parse(JSON.stringify(initialUser)))
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Username',
    key: 'username',
    value: 'username'
  },
  {
    title: 'Full Name',
    key: 'fullName',
    value: 'fullName'
  },
  {
    title: 'Role',
    key: 'role',
    value: (item: any | User) => item.role.join(', ')
  },
  {
    title: 'Type',
    key: 'type',
    value: (item: any | User) => item.type.join(', ')
  },
  {
    title: 'WorkTime',
    key: 'workTime',
    value: (item: any | User) => item.workTime
  },
  {
    title: 'Wage',
    key: 'wage',
    value: 'wage'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  },
  { title: 'Actions', key: 'action', sortable: false }
]
const users = ref<User[]>([])
function initialize() {
  users.value = [{
    id: 1,
    username: 'อ๋าซอจุน',
    password: 'sirapop123',
    fullName: 'sirapop wongtim',
    role: ['manager'],
    type: ['fulltime'],
    workTime: '9:00-17:00',
    wage: '1500',
    salary: '100000'
  },
  {
    id: 2,
    username: 'pelinlnwZaa007',
    password: 'phongphak123',
    fullName: 'phongphak kajornchaiyakul',
    role: ['employee'],
    type: ['part-time'],
    workTime: '9:00-18:00',
    wage: '100',
    salary: '-'
  },
  {
    id: 3,
    username: 'jiffy2003',
    password: 'wanwadee123',
    fullName: 'wanwadee noijaroen',
    role: ['manager'],
    type: ['fulltime'],
    workTime: '9:00-18:00',
    wage: '100',
    salary: '10000'
  },
  {
    id: 4,
    username: 'KeyBread4444',
    password: 'wantania123',
    fullName: 'wantania phonsomret',
    role: ['employee'],
    type: ['fulltime'],
    workTime: '9:00-18:00',
    wage: '100',
    salary: '10000'
  },
  {
    id: 5,
    username: 'User1',
    password: 'user1',
    fullName: 'user 1',
    role: ['employee'],
    type: ['fulltime'],
    workTime: '9:00-18:00',
    wage: '100',
    salary: '10000'
  }
  ]
}

onMounted(() => {
  initialize()
})

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedUser.value = Object.assign({}, initialUser)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()

  if (!valid) return

  if (editedUser.value.type.includes('part-time')) {
    // ให้ salary เป็น null เมื่อ user  type  part-time
    editedUser.value.salary = "-";
  }

  if (editedIndex > -1) {
    Object.assign(users.value[editedIndex], editedUser.value)
  } else {
    editedUser.value.id = lastId++
    users.value.push(editedUser.value)
  }
  closeDialog()
}
function editItem(item: User) {
  editedIndex = users.value.indexOf(item)
  editedUser.value = Object.assign({}, item)
  dialog.value = true
}
function closeDelete() {
  dialogDelete.value = false;
  nextTick(() => {
    editedUser.value = Object.assign({}, initialUser)
  })
}
function deleteItemConfirm() {
  users.value.splice(editedIndex, 1)
  closeDelete()
  editedIndex = -1
}
function deleteItem(item: User) {
  editedIndex = users.value.indexOf(item)
  editedUser.value = Object.assign({}, item)
  dialogDelete.value = true
}
</script>

    <!-- <div>
        <v-table>
    <thead>
      <tr>
        <th class="text-left">
          ID
        </th>
        <th class="text-left">
          Username
        </th>
        <th class="text-left">
          Full Name
        </th>
        <th class="text-left">
          Role
        </th>
        <th class="text-left">
          Type
        </th>
        <th class="text-left">
            WorkTime
        </th>
        <th class="text-left">
            Wage
        </th>
        <th class="text-left">
          Salaty
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="item in users"
        :key="item.id"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.fullName }}</td>
        <td>{{ item.role }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.workTime }}</td>
        <td>{{ item.wage }}</td>
        <td>{{ item.salary }}</td>
      </tr>
    </tbody>
  </v-table>
    </div> -->
    

        <!-- <v-app-bar style="background-color: #fbf3a0;"> 
          <v-app-bar-title>
            User Management
          </v-app-bar-title>
        </v-app-bar> -->
<template>
  <v-dialog v-model="dialog" persistent width="1024">

    <template v-slot:activator="{ props }">
      <v-toolbar flat>
        <v-toolbar-title>User Management</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-btn v-bind="props" prepend-icon="mdi-account-plus" style="background-color: #86ab60" color="white">
          New User
        </v-btn>
      </v-toolbar>
    </template>

    <v-card>
      <v-card-title>
        <span class="text-h5">User Profile</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm">
          <v-container fluid>
            <v-row>

              <v-col cols="12" sm="12" md="4">
                <v-text-field v-model="editedUser.username" label="Username" required
                  :rules="[(v) => !!v || 'Field is required']"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field v-model="editedUser.fullName" label="Full Name"
                  :rules="[(v) => !!v || 'Field is required']"></v-text-field>
              </v-col>

              <v-col cols="12" sm="12" md="4">
                <v-text-field v-model="editedUser.password" label="Password"
                  :rules="[(v) => !!v || 'Field is required']"></v-text-field>
              </v-col>

              <v-col cols="12" sm="12">
                <v-select v-model="editedUser.role" :items="[['manager'], ['employee']]" label="Role"
                  :rules="[(v) => !!v || 'Field is required']"></v-select>
              </v-col>

              <v-col cols="12" sm="12">
                <v-autocomplete v-model="editedUser.type" :items="[['part-time'], ['fulltime']]" label="Type"
                  :rules="[(v) => !!v || 'Field is required']"></v-autocomplete>
              </v-col>

              <v-col>
                <v-radio-group v-model="editedUser.workTime">
                  <v-radio label="9:00-17:00" value="9:00-17:00"></v-radio>
                  <v-radio label="9:00-18:00" value="9:00-18:00"></v-radio>
                  <v-radio label="8:00-17:00" value="8:00-17:00"></v-radio>
                </v-radio-group>
              </v-col>

              <!-- <v-col cols="12" sm="6">
                      <v-select
                        :items="['9:00-17:00', '9:00-18:00', '8:00-17:00']"
                        label="Worktime"
                        :rules="[(v) => !!v || 'Field is required']"
                      ></v-select>
                    </v-col> -->

              <v-col cols="12">
                <v-text-field v-model="editedUser.wage" label="Wage" hint="example of persistent helper text"
                  :rules="[(v) => !!v || 'Field is required']"></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field v-model="editedUser.salary" label="Salary"
                  :rules="[(v) => !!v || 'Field is required']"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="closeDialog()">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save()">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>


  <v-dialog v-model="dialogDelete" persistent width="500">
    <v-card>
      <!-- ส่วนของ dialogDelete -->
      <v-card-text>
        Are you sure you want to delete this user?
      </v-card-text>
      <v-card-actions>
        <v-btn @click="deleteItemConfirm()">Yes</v-btn>
        <v-btn @click="closeDelete()">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-data-table :headers="headers" :items="users" style="width: 100%;">
    <template #item="{ item }">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.fullName }}</td>
        <td>{{ item.role.join(', ') }}</td>
        <td>{{ item.type.join(', ') }}</td>
        <td>{{ item.workTime }}</td>
        <td>{{ item.wage }}</td>
        <td>{{ item.salary }}</td>
        <td>
          <v-btn @click="editItem(item)" color="blue darken-1" small style="margin: 8px;">
            <v-icon left>mdi-pencil</v-icon>Edit
          </v-btn>
          <v-btn @click="deleteItem(item)" color="red darken-1" small>
            <v-icon left>mdi-delete</v-icon>Delete
          </v-btn>
        </td>
      </tr>
    </template>
  </v-data-table>
</template>
    

    