<script setup lang="ts">
import { inject,type Ref,onUpdated,ref } from 'vue';
import { onMounted } from 'vue';

const rail = inject<Ref<boolean>>('rail');

const redirectToYouTube = () => {
  window.open('https://www.youtube.com/watch?v=uquoRo0eusQ', '_blank');
};

const prop = defineProps<{
    located: string

}>();
const locateTitle = ref('')


onUpdated(() => {

    locateTitle.value = prop.located
});

onMounted(() => {
  if (prop.located === '') {
    locateTitle.value = 'Login';
  }
});

</script>

<template>
  <v-app-bar image="https://media.istockphoto.com/id/1148087665/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%A0%E0%B8%B2%E0%B8%9E%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B5%E0%B8%99%E0%B9%89%E0%B9%8D%E0%B8%B2%E0%B8%95%E0%B8%B2%E0%B8%A5.jpg?s=612x612&w=0&k=20&c=LygdlIznhJkZQarpcD-oDpYH7qKXq_1k0CKS4fmMr2k=" density="compact">
    <template v-slot:prepend>
      <v-app-bar-nav-icon @click.stop="rail = !rail" color="white"></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title>
            <v-row text-align="center" justify="start" >
                <v-col cols="auto">
                    <v-icon color="white">mdi-coffee</v-icon>
                </v-col>
                <v-col cols="auto" style="color: white;">
                    COFFEE
                </v-col>
                <v-col cols="auto">
                    <div id="arrow" style="color: white;">></div>
                </v-col>
                <v-col cols="auto">
                    <div id="title" style="color: white;">{{ locateTitle }}</div>
                </v-col>
            </v-row>
        </v-app-bar-title>
    <template v-slot:append>
      <v-btn value="login" :to="{ path:'/Login'}" color="white">LOGIN</v-btn>
      
      <a href="https://www.youtube.com/watch?v=uquoRo0eusQ" target="_blank" style="color: white;">
        <v-btn icon="mdi-dots-vertical" @click.prevent="redirectToYouTube"></v-btn>
      </a>
    </template>
  </v-app-bar>
</template>


