<script setup lang="ts">
import { inject, type Ref } from 'vue';
import { useAuthStore } from '@/stores/auth'
const authStore = useAuthStore()
const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const emit = defineEmits<{
  located: [string]
}>()
  
function clickLocate(title: string) {
  emit('located', title)
}
</script>
<template>
    <v-navigation-drawer
        v-model="drawer"
        :rail="rail"
        permanent
        @click="rail = false"
      >
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
          :title=authStore.userLogin.currentUser.username
          nav
        >
          <template v-slot:append>
            <v-btn
              variant="text"
              icon="mdi-chevron-left"
              @click.stop="rail = !rail"
            ></v-btn>
          </template>
        </v-list-item>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item prepend-icon="mdi-home-city" title="Home" value="home" :to="{path:'/'}"  @click="clickLocate('Home')" ></v-list-item>
          <v-list-item prepend-icon="mdi-cash-register" title="POS" value="pos" :to="{ path:'/POS'}" @click="clickLocate('Point Of Sale')"></v-list-item><!-- ของอ๋า -->
          <v-list-item prepend-icon="mdi-package-variant" title="Check Stock" value="checkstock" :to="{ name:'checkstock'}" @click="clickLocate('Check Stock')"></v-list-item>
          <v-list-item prepend-icon="mdi-truck-delivery" title='Import Material' value="importmaterial" :to="{ name: 'importmaterial' }" @click="clickLocate('Import Material')"></v-list-item>
          <v-list-item prepend-icon="mdi-account-group-outline" title="Users" value="users" :to="{ path:'/Users'}" @click="clickLocate('Users')"></v-list-item>
          <v-list-item prepend-icon="mdi-currency-usd" title="Payment Salary" value="paymentsalary" :to="{ path:'/PaymentSalary'}" @click="clickLocate('Payment Salary')"> </v-list-item>
          <v-list-item prepend-icon="mdi-account-group" title="Members" value="customers" :to="{ path:'/Customers'}" @click="clickLocate('Members')"></v-list-item>
          <v-list-item prepend-icon="mdi-clock" title="Clock In/Out" value="clockinout" :to="{ path:'/Clockinout'}" @click="clickLocate('Clock In/Out')"></v-list-item>
          <v-list-item prepend-icon="mdi-information" title="About" value="about" :to="{ path:'/about'}" @click="clickLocate('About')" ></v-list-item>
        </v-list>
        
      </v-navigation-drawer>
</template>

