<script setup lang="ts">
import { type Product } from '@/types/Product'

// import ProductCard from './ProductCard.vue';
import { ref } from 'vue';

const selectedSubCategory = ref(1)
const priceUpdateSubC= ref(0)

const props = defineProps<{
    product: Product
    
}>()

const emit = defineEmits<{
    selectedProduct: [Product,number,number] //selectedProduct(Product p)
}>()


function selectedProduct(p: Product) {
if (selectedSubCategory.value === 1) {
      priceUpdateSubC.value = 0;
  } else if (selectedSubCategory.value === 2) {
      priceUpdateSubC.value = 5;
  } else if (selectedSubCategory.value === 3) {
      priceUpdateSubC.value = 10;
  }
console.log(p.subCategory)
emit('selectedProduct', props.product, selectedSubCategory.value,priceUpdateSubC.value)
if (selectedSubCategory.value === 1) {
      p.price -= priceUpdateSubC.value;
  } 
}
</script>

<template>
    <v-sheet width="250" height="170" elevation="3">
    <div v-if="product.type===1"><v-img :src="`./img/coffees/product${product.id}.png`" height="120" cover @click="selectedProduct" ></v-img></div>
    <div v-if="product.type===2"><v-img :src="`./img/tea/product${product.id}.png`" height="120" cover @click="selectedProduct" ></v-img></div>
    <div v-if="product.type===3"><v-img :src="`./img/dessert/product${product.id}.png`" height="120" cover @click="selectedProduct" ></v-img></div>

      <div style="text-align: center;">{{ product.name }} {{ product.price }} บาท</div>
      <div v-if="product.type !== 3">
        <v-btn-toggle v-model="selectedSubCategory">
          <v-btn :value="1" >Cold</v-btn>
          <v-btn :value="2" >Hot</v-btn>
          <v-btn :value="3" >Frappe</v-btn>
        </v-btn-toggle>
      </div>
    </v-sheet>
  </template>
  
  <style scoped>
  /* เพิ่มลักษณะ CSS เพื่อปรับขนาดปุ่มและตำแหน่ง */
  .v-btn-toggle {
    width: 100%;
    text-align: center;
  }
  
  .v-btn {
    width: 33%; /* แบ่งอัตราส่วนปุ่มใน v-btn-toggle */
    height: 50px;
    margin: 0;
    padding: 0;
  }
  </style>
  