<script setup lang="ts">
import { type Product } from '@/types/Product'
import ProductCard from './ProductCard.vue';

import { ref } from 'vue';


const props = defineProps<{
    products: Product[]
    
}>()

const emit = defineEmits<{
    selectedProduct: [Product,number,number] //selectedProduct(Product p)
}>()

//key is index unique(PK) of product in products

function selected(p:Product,selectedSubCategory:number,priceUpdateSubC:number){
    p.subCategory=selectedSubCategory
    p.price=p.price+priceUpdateSubC
    console.log(p.name+" "+p.subCategory)
    emit('selectedProduct',p,selectedSubCategory,priceUpdateSubC)
    p.price=p.price-priceUpdateSubC
}

</script>

<template>
    <div style="overflow-y: auto;height: 600px;" >
        <v-container>
            <v-row>
                <v-col v-for="item of products" :key="item.id" lg="6" md="6" cols="12">
                    <ProductCard :product="item" @selectedProduct="selected"></ProductCard>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
