  <script setup lang="ts">
  import { onMounted, ref } from 'vue'
  import type { Customer } from '@/types/Customer'
  import CustomerDialog from '../Customer/CustomerDialog.vue';
  import DeleteDialog from '../Customer/DeleteDialog.vue';
  import { useMemberStore } from '@/stores/member';

  const search = ref<string>('');
  const storeMember = useMemberStore()
  const headers = [
    { title: 'ID', value: 'ID' },
    { title: 'Full Name', value: 'fullname' },
    { title: 'Telephone', value: 'Tel' },
    { title: 'Point', value: 'Point' },
    { title: 'Edit', value: 'Firstname' },
    { title: 'Delete', value: 'Lastname' },
  ];
  const deleteCustomer = (ID: number) => {
    console.log('ไอดี'+ID)
    const index = storeMember.members.findIndex((customer) => customer.ID === ID);
    if (index !== -1) {
      storeMember.members[index].deleted = true;
      storeMember.dialogDelete = true;
    }
  };
  
  const loading = ref(false);

  function editItem(item: Customer) {
    storeMember.editIndex  = storeMember.members.indexOf(item);
    console.log(storeMember.members.indexOf(item))
    storeMember.editedCustomer = Object.assign({},item);
    
    console.log(storeMember.editedCustomer)
    storeMember.memberDialog = true;
  }

  const clearAllMembers = () => {
  storeMember.members = [];
  storeMember.initCustomer()
};
  function onClick() {
    clearAllMembers()
    loading.value = true;
    setTimeout(() => {
      loading.value = false;
    }, 2000);
  }
  onMounted(() => {
    // storeMember.initCustomer()
});

  </script>
  <template>
    
      <v-card-title class="title-style">
        <h2 class="text-h10">Member Management</h2>
        <div class="btn-group">
          <v-btn
            prepend-icon="mdi-refresh"
            color="primary"
            @click="onClick" 
            :loading="loading"
          >
            Reset
          </v-btn>
          
          <v-btn
            
            prepend-icon="mdi-account-plus"
            color="red"
            @click="storeMember.memberDialog= true"
          >
            Add Customer
            <v-tooltip activator="parent" location="top">Add New Customer</v-tooltip>
          </v-btn>
        </div>
      </v-card-title>
      <v-card style="background-color: #f9ffd1;">
      <template v-slot:text >
        <v-text-field
          style="background-color: #ffffff;"
          v-model="search"
          label="Search"
          prepend-inner-icon="mdi-magnify"
          single-line
          variant="outlined"
          hide-details
        ></v-text-field>
      </template>
    </v-card>
    <CustomerDialog></CustomerDialog>
    <v-data-table
      style="border-radius: 5px;"
      :headers="headers"
      :search="search"
      :loading="loading"
      :items="storeMember.members"
      item-key="ID"
      fixed-header
      height="550"
    ><template v-slot:loading>
        <v-skeleton-loader type="table-row@10"></v-skeleton-loader>
      </template>
      <template #item="{ item }">
        <tr>
          <td>{{ item.ID }}</td>
          <td>{{ item.Firstname+" "+ item.Lastname }}</td>
          <td>{{ item.Tel }}</td>
          <td>{{ item.Point }}</td>
          <td>
            <v-btn 
            block 
            style="background-color:green; color:white;" 
            @click="editItem(item)"
            prepend-icon="mdi-pencil"
            >
              Edit
              <v-tooltip
          activator="parent"
          location="top"
        >Edit Customer
        </v-tooltip>
            </v-btn>
          </td>
          <td><v-btn 
            block 
            style="background-color:orange; color:white;" 
            @click="deleteCustomer(item.ID)"
            prepend-icon="mdi-delete"
            >
            Delete  
            <v-tooltip
          activator="parent"
          location="top"
        >Delete Customer
        </v-tooltip>
          </v-btn></td>
        </tr>
        <DeleteDialog></DeleteDialog>
      </template>
    </v-data-table>

    
  </template>


  <style scoped>
  .title-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbf3a0;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
  }

  .text-h10 {
    font-size: 30px;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .btn-group {
    display: flex;
  }
  </style>


