<script lang="ts" setup>
import type { Customer } from '@/types/Customer';
import { nextTick, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useMemberStore } from '@/stores/member';
const form = ref(false)
const refForm = ref<VForm | null>(null)
const initialCustomer: Customer = {
    ID: -1,
    Firstname: 'Rick',
    Lastname: 'Astley',
    Tel: '0000000000',
    Point: 0,
   }

const storeMember = useMemberStore()
let editedIndex = -1
function onSubmit() { }
function closeDialog() {
  storeMember.memberDialog = false
  nextTick(() => {
    storeMember.editedCustomer = { ...initialCustomer };
    storeMember.editIndex = -1
  });
}

function getLastId(): number {
  return storeMember.members.reduce((maxId,customer) => {
    return customer.ID > maxId ? customer.ID : maxId;
  }, 0);
}

async function save() {
  const lastId = getLastId();
  const { valid } = await refForm.value!.validate();
  editedIndex = storeMember.editIndex
  if (!valid) return;
  if (editedIndex > -1) {
    Object.assign(storeMember.members[editedIndex],storeMember.editedCustomer);
  } else {
    storeMember.editedCustomer.ID = lastId + 1;
    storeMember.members.push(storeMember.editedCustomer);
  }
  closeDialog();
}
</script>

<template>
  <v-dialog
      v-model="storeMember.memberDialog"
      persistent
      width="1024"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Customer Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form
          ref="refForm"
        v-model="form"
        @submit.prevent="onSubmit"
      >
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="storeMember.editedCustomer.Firstname"
                  label="Legal first name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="storeMember.editedCustomer.Lastname"
                  label="Legal last name*"
                  hint="example of persistent helper text"
                  persistent-hint
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                v-model="storeMember.editedCustomer.Tel"
                  label="Phone Number*"
                  :rules= "[(v) => !!v || 'Field is required']"
                  required
                ></v-text-field>
              </v-col>
              <v-col >
                <v-text-field
                  v-model="storeMember.editedCustomer.Point"
                  label="Point*"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
              
            </v-row>
          </v-container>
        </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="closeDialog()"
          >
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>
