<script setup lang="ts">
import { provide, ref } from 'vue';
import AppBar from './components/AppBar.vue';
import MenuBar from './components/MenuBar.vue';
import { RouterLink, RouterView } from 'vue-router'

const rail = ref(true)
const drawer = ref(true)
const located = ref('')
provide('rail', rail)
provide('drawer', drawer)

function locatedView(title: string) {
  console.log(title)
  located.value = title
}
</script>

<template>
  <v-layout class="rounded rounded-md" style="background-image: `` ;">

    <AppBar :located="located"></AppBar>
    <MenuBar @located="locatedView"></MenuBar>
    <v-main class="align-center justify-center" style="min-height: 800px;">
      <div class="pa-16"><RouterView /></div>
    </v-main>

  </v-layout>
</template>

<style scoped>
.v-layout {
  background-color: rgb(216, 201, 183);
  background-size: cover;
  background-repeat: no-repeat;
  
}
</style>